 
  .mensaje {
  margin-top: 3rem;
}
  .mensaje i {
    font-size: 4rem;
    color: green;
}
    .mensaje h5 {
      font-size: 1.5rem;
      margin-top: 1rem;
      color: #333;
}
    .bottom-nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #fff;
      border-top: 1px solid #ddd;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;
    }
    .bottom-nav a {
      color: #3a3a3a;
      font-size: 1.4rem;
      text-decoration: none;
    }

    .pago-exitoso {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  background-color: #f8f9fa; /* fondo suave, estilo bancario */
}

.icono-exito {
  font-size: 3rem;
  color: #28a745; /* verde éxito */
}
